/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width:auto;
}

.carousel-container {
  width: 90%;
  margin: 0 auto;
}

/* Styles for desktop screens */

.boxes-carousel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color:#FFFFFF;
}

.box-carousel {
  width: calc(45% - 20px);
  height: relative;
  text-align: center;
  margin: 10px;
  margin-top: 0px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.box-carousel h4,
.box-carousel p {
  margin-top: 10px;
  text-align: center;
  color: rgba(34, 110, 147, 1);
}


/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  width:100%;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 0;
  width:90%;
  
}
p{
 text-align: justify;
 margin-bottom:20px;
}
h1, h2 {
  margin-bottom: 10px;
  
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
  margin-top:10px;
  margin-bottom:20px;
}

.btn:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  animation: neon-pulse 2s infinite;
}

.btn:hover:before {
  opacity: 1;
}

@keyframes neon-pulse {
  0% {
    opacity: 0;
    box-shadow: 0 0 5px #fff;
  }
  50% {
    : 1;
    box-shadow: 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  }
  100% {
    opacity: 0;
    box-opacityshadow: 0 0 5px #fff;
  }
}

/*Research images*/
/* Research images */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 33.3%%;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.box h4,
.box p {
  margin: 0;
  color: rgba(34, 110, 147, 1);
  text-align:center;

}

.center-heading {
  text-align: center;
  margin-top: 0px;
}



/* Header styles */
header {
  background-color: #f2f2f2;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
		
header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding:20px;
}.nav-links {
  display: flex;
  list-style: none;
}

.logo img{
position:absolute;
width:auto;
height:100px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}
.nav-link {
    font-weight: 200;
    color: #475569;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #0d1730;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
}

nav ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: -1;
    transition: border-color 0.3s;
}

nav ul li a:hover {
    color: #0d1730;
}

nav ul li a:hover:before {
    box-shadow: 0 0 5px 5px #0d1730;
}

/* Styles for mobile screens */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 12rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index:9999;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* footer styles */
/* footer styles */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-info,
.footer-links,
.footer-social {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  
}

.footer-info h3,
.footer-links h3,
.footer-social h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-info p,
.footer-links ul,
.footer-social ul {
  margin-bottom: 10px;
}

.footer-info p:last-child,
.footer-links ul:last-child,
.footer-social ul:last-child {
  margin-bottom: 0;
}

.footer-links ul li,
.footer-social ul li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-links ul li a,
.footer-social ul li a {
  text-decoration: none;
  color: #555;
  display: flex;
  align-items: center;
}

.footer-social ul li a i {
  font-size: 20px;
  margin-right: 10px;
  color: #555;
}

.footer-social ul li img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
  border: 1px solid gray;
  border-radius: 50%;
}

.social-icon {
  width: 32px;
  height: 32px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-color: gray;
}



/* News styles */
.news-box {
  max-width: 90%;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top:0px;
}
.main-heading {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2E2252;
  color:#FFFFFF; 
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:10px;

}
.news-heading {  
margin-bottom: 10px;
  padding: 10px;
  background-color: #2E2252;
  color:#FFFFFF; 
  font-family: "Times New Roman", Times, serif;
  text-align:center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:10px;
}

.headline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0 auto;
  animation: scroll 25s infinite linear;
  overflow: hidden; /* Add this line to hide the overflow */
}

.headline-list:hover {
  animation-play-state: paused; /* Add this line to pause the animation on hover */
}
.headline-list:hover li {
  color: red; /* Add this line to highlight the text color */
}
.headline-list:hover li a {
  color: blue; /* Add this line to change the link color on hover */
}


.headline {
  line-height: 30px;
  padding: 5px;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


/* our team */
.team-heading {
  text-align: center;
  margin-bottom: 0px;
  margin-top:40px;
  clear:both;
  
}

.team-heading h2 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-family: 'Product Sans', Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #4285F4;
  text-transform: uppercase;
}

.team-section {
  clear:both;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
}

.team-box {
  width: 250px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.team-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.social-links {
  margin-top: 20px;
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30px;
}

/* Adjust the CSS as per your requirements */

.carousel{
	margin-top:20px;
	
}

/* Bibilography */
/* Adjust the CSS as per your requirements */
.bib-heading {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  clear: both;
  padding-top: 20px;
  background-color: navy;
  margin-bottom: 20px;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  margin-top:20px;
font-family: "Times New Roman", Times, serif;
}
.bib-container{
	padding-left: 1%;
    padding-right: 1%;
}
/* Head member section */
/* Adjust the CSS as per your requirements */
.member {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top:20px;
	border-radius:30px;
	justify-content:space-between;			
 }
        
.member-photo {
 flex-grow: 1;
 width: 30%;
position: relative;
align-self: flex-start;
padding: 20px;
margin-right:20px;
background-color: white;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
transition: transform 0.3s ease; /* Adjust the perspective value as needed */
}
        
        .member-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
       .member-description {
		  flex-grow: 1;
		  width: 100%;
		  height:auto;
		  position: relative;
		  padding: 20px;
		  background-color: white;
		  border-radius: 10px;
		  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		  transition: transform 0.3s ease;
		}

		.member-description:hover {
		  transform: scale(1.05);
		}

        
        .member-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .member-role {
            font-size: 16px;
            color: #888;
            margin-bottom: 10px;
        }


        .member-bio {
            font-size: 14px;
        }
        
        .links {
            margin-top: 30px;
			font-size:10px;
			font-weight: bold;
        }
        
		.links a {
		  display: inline-block;
		  margin-right: 10px;
		  color: white;
		  text-decoration: none;
		  position: relative;
		  border-radius: 30px;
		  background-color: #27285C;
		  overflow: hidden;
		  padding: 10px;
		  height:relative;
		}

		.links a:before {
		  content: "";
		  position: absolute;
		  top: -6px;
		  left: -6px;
		  right: -6px;
		  bottom: -6px;
		  border-radius: inherit;
		  box-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
		  opacity: 0;
		  pointer-events: none;
		  animation: neon-border 1.5s ease-in-out infinite;
		}

		.links a:hover {
		  background-color: white; /* Change background color on hover */
		  color:black;
		}

		.links a:hover:before {
		  opacity: 1;
		}

		@keyframes neon-border {
		  0% {
			transform: scale(1);
		  }
		  50% {
			transform: scale(1.02);
		  }
		  100% {
			transform: scale(1);
		  }
		}
        .header-logo {
        display: flex;
        align-items: center;
        background-color: white;
	color:#27285C;
	align-items: center;
	justify-content: center;
	text-align:center;
        }
        
        .header-img {
            flex-grow: 1;
            width: 10%;
            position: relative;
            align-self: flex-start;
        }
        
        .header-img img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        
        .header-title {
        flex-grow: 1;
        width: 100%;
        height: auto;
        position: relative;
	align-items: center;
	justify-content: center;
        }
	.name {
         font-size: 34px; /* Default font size */
	color: #27285C;
        }

        @media (max-width: 768px) {
            /* Adjust font size for smaller screens */
            .name {
                font-size: 24px;
            }
			.header-img {
            flex-grow: 1;
            width: 20%;
            position: relative;
            align-self: flex-start;
        }
        
        }

        @media (max-width: 480px) {
            /* Adjust font size for even smaller screens */
            .name {
                font-size: 18px;
            }
	.header-img {
            flex-grow: 1;
            width: 60%;
            position: relative;
            align-self: flex-start;
        }
        }
